# Copernicus Data Store (for SSHA/Altimetry)
CDS_URL=https://cds.climate.copernicus.eu/api/v2
CDS_UID=your_cds_uid_here
CDS_KEY=your_cds_key_here

# Argovis API (for Argo floats)
ARGOVIS_API_URL=https://argovis-api.colorado.edu/

# Other API keys (if needed)
# ERA5_API_KEY=...
# NOAA_KEY=...
ARGOVIS_API_KEY=b2ad099531526d401bfc7de58493abb5c30064ad